/* You can add global styles to this file, and also import other style files */
/* @import "~font-awesome/css/font-awesome.css"; */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '@fortawesome/fontawesome-free/css/fontawesome.css'; */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button.delete {
  background-color: #f64d2f;
  border-radius: 5px;
  border-color: #f64d2f;
}

button.edit {
  background-color: #1c60e9;
  border-radius: 5px;
  border-color: #1c60e9;
  padding-right: 2px;
}

span.fa-standard {
  font-size: 1em;
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-title {
  font-size: 1.25rem;
}

a.nav-link {
  cursor: pointer;
}

.navbar-nav a.dropdown-item {
  cursor: pointer
}

div.company-logo {
  padding-top: 80px;
}
