<div class="row">
  <modal #filterModal>
    <modal-header>
      <span class="modal-title">Filter</span>
    </modal-header>

    <modal-content>
      <form novalidate [formGroup]="filterFormGroup" (ngSubmit)="applyFilter()">
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="firstName">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="firstName"
                  name="firstName"
                  formControlName="firstName"
                  type="text"
                  placeholder="First Name" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="lastName">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="lastName"
                  name="lastName"
                  formControlName="lastName"
                  type="text"
                  placeholder="Last Name" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="title">Title</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="title"
                  name="title"
                  formControlName="title"
                  type="text"
                  placeholder="Title" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="deptName">Department</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="deptName"
                  name="deptName"
                  formControlName="deptName"
                  type="text"
                  placeholder="Department Name" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Salary</label>
        <div class="input-group col-md-8">
          <input class="form-control"
                  id="salaryMin"
                  name="salaryMin"
                  formControlName="salaryMin"
                  type="number"
                  placeholder="Minimum"
                  [ngClass]="{'is-invalid': !filterFormGroup.valid }" />
          <div class="input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="form-control"
                  id="salaryMax"
                  name="salaryMax"
                  formControlName="salaryMax"
                  type="number"
                  placeholder="Maxiumum"
                  [ngClass]="{'is-invalid': !filterFormGroup.valid }" />
                  <span class="invalid-feedback">
                    <span *ngIf="filterFormGroup.errors?.salaryMinGreaterThanSalaryMaxError">
                      Salary range values are reversed.
                    </span>
                    <span *ngIf="filterFormGroup.get('salaryMax').errors?.negativeNumberError">
                      Maximum salary value must be a positive number.
                    </span>
                    <span *ngIf="filterFormGroup.get('salaryMin').errors?.negativeNumberError">
                      Minimum salary value must be a positive number.
                    </span>
                  </span>
        </div>
      </div>
      </form>
    </modal-content>

    <modal-footer>
      <div class="row col-md-11">
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="applyFilter()"
                  [disabled]='!filterFormGroup.valid'>
            Apply
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </modal-footer>
  </modal>
</div>
