<div class="card">
  <div class="card-header">
    {{ this.pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <button
          (click)="openModal()"
          class="btn btn-outline-primary"
          style="width:80px">
          Filter
        </button>
      </div>
      <div class="col-md-8">
        <span *ngFor="let filter of filterItems; let i = index">
          <button class="btn btn-outline-secondary"
                  style="font-size:smaller;margin-bottom:12px;margin-right:2px"
                  title="Click to remove this filter"
                  (click)="removeFilter(i)">
            {{filter}}
            <span class="fa fa-times-circle"></span>
          </button>
        </span>
      </div>
    </div>

    <hr>

    <div>
      Contents

      <button md-icon-button class="delete">
        <span style="font-size: 1em; color: white;">
          <i class="fas fa-trash-alt"></i>
        </span>
      </button>
      &nbsp;
      <button md-icon-button class="edit">
        <span style="font-size: 1em; color: white;">
          <i class="fa fa-edit"></i>
        </span>
      </button>

    </div>
  </div>
</div>

<div class="row">
  <modal
        #filterModal
        (onOpen)="onFilterModalOpen()"
        (onClose)="onFilterModalClose()">

    <modal-header>
      <h3>Filter</h3>
    </modal-header>

    <modal-content>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="firstName">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="firstName"
                  type="text"
                  placeholder="First Name"
                  [(ngModel)] = currentFilter.firstName
                  name="firstName"
                  #firstNameVar="ngModel" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="lastName">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="lastName"
                  type="text"
                  placeholder="Last Name"
                  [(ngModel)] = currentFilter.lastName
                  name="lastName"
                  #lastNameVar="ngModel" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="title">Title</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="title"
                  type="text"
                  placeholder="title"
                  [(ngModel)] = currentFilter.title
                  name="title"
                  #titleVar="ngModel" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"
                for="deptName">Department</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="deptName"
                  type="text"
                  placeholder="Department Name"
                  [(ngModel)] = currentFilter.deptName
                  name="deptName"
                  #deptNameVar="ngModel" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Salary</label>
        <div class="input-group col-md-8">
          <input class="form-control"
                  id="salaryMin"
                  type="number"
                  placeholder="Minimum"
                  [(ngModel)] = currentFilter.salaryMin
                  name="salaryMin"
                  #salaryMinVar="ngModel" />
          <div class="input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="form-control"
                  id="salaryMax"
                  type="number"
                  placeholder="Maxiumum"
                  [(ngModel)] = currentFilter.salaryMax
                  name="salaryMax"
                  #salaryMaxVar="ngModel" />
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </modal-footer>
  </modal>
</div>



<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>

<form novalidate [formGroup]="checkoutForm2" (ngSubmit)="onSubmit2()">

  <div>
    <label for="salaryMin">
      Name
    </label>
    <input id="salaryMin" type="text" formControlName="salaryMin">
  </div>

  <div>
    <label for="salaryM">
      Address
    </label>
    <input id="salaryMax" type="text" formControlName="salaryMax">
  </div>

  <button class="button" type="submit">Purchase2</button>

</form>
